<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>category</title>
    <script src="http://hovertree.com/ziyuan/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div style="padding:20px;" id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">categories list</div>
        <div class="col-lg-6" style="padding: 20px 100px 10px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索" v-model="search">
                <span class="input-group-btn">
						<button @click="btn" class="btn btn-default" type="button">
							search
						</button>
					</span>
            </div>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead>
            <tr>
                <td>name</td>
                <td>operation</td>
            </tr>
            </thead>
            <tbody>
            <template v-for="(category,index) in searchData">
                <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                    <td>{{category.name}}</td>
                    <td><a href="#" @click="edit(category)">编辑</a>
                        <a class="delete" href="#" @click="del(category.id)">删除</a></td>
                </tr>
            </template>
            <tr>
                <td><input type="text" class="form-control" v-model="category.name" /></td>
                <td><button type="button" class="btn btn-primary" v-on:click="save">保存</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav style="float:right;">
        <ul class="pagination pagination-lg">
            <template v-for="page in Math.ceil(searchData.length/pagesize)">
                <li v-on:click="PrePage()" id="prepage" v-if="page==1" class="disabled"><a href="#">上一页</a></li>
                <li v-if="page==1" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                <li id="nextpage" v-on:click="NextPage()" v-if="page==Math.ceil(searchData.length/pagesize)"><a href="#">下一页</a></li>
            </template>
        </ul>
    </nav>
</div>


<script>
    $(function () {
        var page = "/category";
        // 从后台获取数据
        getCategory(page);
    })
    function getCategory(page) {
        // 使用ajax发起一个GET方法的请求
        jQuery.noConflict();
        $.get(
            page,
            // result参数是后台传过来的category数组
            function (result) {
                // 将返回结果绑定到UI上，这里用到了vue
                //MV
                new Vue({
                    el:'#app',
                    data:{
                        search:'',
                        searchData:result,
                        categories:result,
                        category: {id: 0, name: ''},
                        pagesize: 2,
                        curpage:1
                    },
                    methods:{
                        //处理搜索
                        btn:function(){
                            var search = this.search;
                            if (search) {
                                this.curpage = 1
                                this.searchData =  this.categories.filter(function(product) {
                                    console.log(product)
                                    return Object.keys(product).some(function(key) {
                                        console.log(key)
                                        return String(product[key]).toLowerCase().indexOf(search) > -1
                                    })
                                })
                            }else{
                                this.searchData = this.categories
                            }
                        },
                        //删除
                        del:function (id) {
                            console.log(id)
                            axios
                                .delete('/category/'+id)
                                .then(function (value) {
                                    location.reload()
                                })
                                .catch(function (reason) {
                                    console.log("erroe")
                                })
                        },
                        //保存数据
                        save:function (event) {
                            if (this.category.id == 0){
                                axios
                                    .put('/category?name='+this.category.name)
                                    .then(function (value) {
                                        location.reload()
                                    })
                                    .catch(function (reason) {
                                        console.log("erroe")
                                    })
                            }else {
                                axios
                                    .put('/category?id='+this.category.id+'&name='+this.category.name)
                                    .then(function (value) {

                                        location.reload()
                                    })
                                    .catch(function (reason) {
                                        console.log("erroe")
                                    })
                            }
                        },
                        //编辑数据
                        edit:function (category) {
                            console.log(category)
                            this.category = category

                        },
                        /**
                         * 分页的方法
                         * @param event
                         * @constructor
                         */
                        //上一页方法
                        PrePage: function (event) {
                            $(".pagination .active").prev().trigger("click");
                        },
                        //下一页方法
                        NextPage: function (event) {
                            $(".pagination .active").next().trigger("click");
                        },
                        //点击页码的方法
                        NumPage: function (num, event) {
                            if (this.curpage == num) {
                                return;
                            }
                            this.curpage = num;
                            $(".pagination li").removeClass("active");
                            if (event.target.tagName.toUpperCase() == "LI") {
                                $(event.target).addClass("active");
                            }
                            else {
                                $(event.target).parent().addClass("active");
                            }
                            if (this.curpage == 1) {
                                $("#prepage").addClass("disabled");
                            }
                            else {
                                $("#prepage").removeClass("disabled");
                            }
                            if (this.curpage == Math.ceil(this.searchData.length / this.pagesize)) {
                                $("#nextpage").addClass("disabled");
                            }
                            else {
                                $("#nextpage").removeClass("disabled");
                            }
                        }
                    }
                })
            }
        )
    }

</script>
</body>
</html>